In [69]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import numpy as np
from shapely import wkt
import warnings

warnings.filterwarnings('ignore')
%matplotlib inline

In [70]:
file_name = "RI_Congressional_2018.xlsx"
df = pd.read_excel(file_name)
df.head()

,City/Town,Precinct,Total Votes,Electon Day,Mail Ballots,Party,Contest,Candidate,Vote For,Unnamed: 9
0,Barrington 0101,101,2721,0,0,NaN,REGISTERED VOTERS - TOTAL,REGISTERED VOTERS - TOTAL,0,NaN
1,Barrington 0102,102,3229,0,0,NaN,REGISTERED VOTERS - TOTAL,REGISTERED VOTERS - TOTAL,0,NaN
2,Barrington 0103,103,2572,0,0,NaN,REGISTERED VOTERS - TOTAL,REGISTERED VOTERS - TOTAL,0,NaN
3,Barrington 0104,104,3147,0,0,NaN,REGISTERED VOTERS - TOTAL,REGISTERED VOTERS - TOTAL,0,NaN
4,Barrington 0105,105,3116,0,0,NaN,REGISTERED VOTERS - TOTAL,REGISTERED VOTERS - TOTAL,0,NaN

In [71]:
if "Contest" in list(df.columns):
    df.rename({"Contest":"Office Title"}, axis=1, inplace=True)
if "City/Town" in list(df.columns):
    df.rename({"City/Town":"Precinct Name"}, axis=1, inplace=True)
if "Electon Day" in list(df.columns):
    df.rename({"Electon Day":"E Day"}, axis=1, inplace=True)
if "Mail Ballots" in list(df.columns):
    df.rename({"Mail Ballots":"Mail"}, axis=1, inplace=True)
if "Precinct" in list(df.columns):
    df.rename({"Precinct":"Precinct #"}, axis=1, inplace=True)
if "Unnamed: 9" in list(df.columns):
    df.drop(columns=["Unnamed: 9"], axis=1, inplace=True)

cong = df[df["Office Title"].str.contains("Representative in Congress District")]
cong.head()

,Precinct Name,Precinct #,Total Votes,E Day,Mail,Party,Office Title,Candidate,Vote For
2315,Barrington 0101,101,916,858,58,DEM,Representative in Congress District 1,David N. Cicilline,1
2316,Barrington 0102,102,1245,1131,114,DEM,Representative in Congress District 1,David N. Cicilline,1
2317,Barrington 0103,103,991,873,118,DEM,Representative in Congress District 1,David N. Cicilline,1
2318,Barrington 0104,104,1176,1076,100,DEM,Representative in Congress District 1,David N. Cicilline,1
2319,Barrington 0105,105,1186,1067,119,DEM,Representative in Congress District 1,David N. Cicilline,1

In [72]:
real = gpd.read_file("../../../all_states_precincts_cname_neighbor_demo_OG_anomalous_fixNeighborVA.json")
real = real[real["State"] == "ri"]
real.head(1)

,County,Precinct #,Hillary Clinton/Dem,Donald J. Trump/Rep,Gary Johnson/Lib,Jill Stein/Grn,Other/Other,Total Votes,State,CName,...,Total Population,White,Black or African American,American Indian,Asian,Other Population,MissingVote,MissingDemo,VoteDemoConflict,geometry
2446,Bristol,0101,1027,522,60,23,2,1634,ri,ri-bristol-0101,...,3268,3055,23,3,110,73,None,None,None,"POLYGON ((-71.32270 41.77270, -71.32270 41.772..."

In [73]:
# fill missing party with NON
cong.fillna(value="NON", inplace=True)
cong.isna().sum()

Precinct Name    0
Precinct #       0
Total Votes      0
E Day            0
Mail             0
Party            0
Office Title     0
Candidate        0
Vote For         0
dtype: int64

# read another csv and map county to this dataset

In [74]:
df2 = pd.read_csv("../../../../sec data/voting/presidential_2016/processed data/RI_presidential_2016.csv")

In [75]:
df2.head()

,county,precinct,candidate,party,votes,county_lat,county_long
0,Bristol County,Barrington 0101; 101,D. Trump,republican,522,41.70683,-71.28664
1,Bristol County,Barrington 0101; 101,G. Johnson,libertarian,60,41.70683,-71.28664
2,Bristol County,Barrington 0101; 101,H. Clinton,democratic,1027,41.70683,-71.28664
3,Bristol County,Barrington 0101; 101,J. Stein,green,23,41.70683,-71.28664
4,Bristol County,Barrington 0101; 101,other,other,39,41.70683,-71.28664

In [76]:
c2p = {}
for index, row in df2.iterrows():
    county = row["county"]
    splited = row["precinct"].split(";")
    precinct1, precinct2 = splited[0].strip(), splited[1].strip()
    if precinct2 not in c2p.keys():
        c2p[precinct2] = [precinct1, county]
    else:
        if c2p[precinct2] != [precinct1, county]:
            print("Error", c2p[precinct2], [precinct1, county])
c2pCong = {}
for index, row in cong.iterrows():
    precinct1, precinct2 = row["Precinct Name"], row["Precinct #"]
    if precinct2 not in c2pCong.keys():
        c2pCong[precinct2] = precinct1
    else:
        if c2pCong[precinct2] != precinct1:
            print("Error", c2pCong[precinct2], precinct1)

In [77]:
cong = cong.astype({"Precinct #": "str"})

In [78]:
inDF2notCong = {}
for precinctNum, match in c2p.items():
    index = cong[(cong["Precinct #"] == precinctNum) & (cong["Precinct Name"] == match[0])].index.to_list()
    if len(index) == 0:
        inDF2notCong[precinctNum] = match
inDF2notCong

{'107': ['Barrington Presidential', 'Bristol County'],
 '211': ['Bristol Presidential', 'Bristol County'],
 '3405': ['Warren Presidential', 'Bristol County'],
 '620': ['Coventry Presidential', 'Kent County'],
 '907': ['East Greenwich Presidential', 'Kent County'],
 '3535': ['Warwick Presidential', 'Kent County'],
 '3706': ['West Greenwich Presidential', 'Kent County'],
 '3812': ['West Warwick Presidential', 'Kent County'],
 '1504': ['Jamestown Presidential', 'Newport County'],
 '1803': ['Little Compton Presidential', 'Newport County'],
 '1907': ['Middletown Presidential', 'Newport County'],
 '2109': ['Newport Limited', 'Newport County'],
 '2110': ['Newport Presidential', 'Newport County'],
 '2710': ['Portsmouth Presidential', 'Newport County'],
 '3309': ['Tiverton Presidential', 'Newport County'],
 '308': ['Burrillville Presidential', 'Providence County'],
 '410': ['Central Falls Presidential', 'Providence County'],
 '733': ['Cranston Presidential', 'Providence County'],
 '815': ['Cumberland Presidential', 'Providence County'],
 '1020': ['East Providence Presidential', 'Providence County'],
 '1204': ['Foster Presidential', 'Providence County'],
 '1306': ['Glocester Presidential', 'Providence County'],
 '1615': ['Johnston Presidential', 'Providence County'],
 '1713': ['Lincoln Presidential', 'Providence County'],
 '2418': ['North Providence Presidential', 'Providence County'],
 '2507': ['North Smithfield Presidential', 'Providence County'],
 '2633': ['Pawtucket Presidential', 'Providence County'],
 '2883': ['Providence Presidential', 'Providence County'],
 '3005': ['Scituate Presidential', 'Providence County'],
 '3108': ['Smithfield Presidential', 'Providence County'],
 '3914': ['Woonsocket Presidential', 'Providence County'],
 '506': ['Charlestown Presidential', 'Washington County'],
 '1105': ['Exeter Presidential', 'Washington County'],
 '1405': ['Hopkinton Presidential', 'Washington County'],
 '2007': ['Narragansett Presidential', 'Washington County'],
 '2203': ['New Shoreham Presidential', 'Washington County'],
 '2311': ['North Kingstown Presidential', 'Washington County'],
 '2904': ['Richmond Presidential', 'Washington County'],
 '3212': ['South Kingstown Presidential', 'Washington County'],
 '3609': ['Westerly Presidential', 'Washington County']}

In [80]:
inCongNotDF2 = {}
for precinctNum, precinctName in c2pCong.items():
    index = df2[df2["precinct"] == precinctName+"; "+str(precinctNum)].index.to_list()
    if len(index) == 0:
        inCongNotDF2[precinctNum] = precinctName
inCongNotDF2

{2109: 'Newport 2109', 2110: 'Newport Limited'}

In [81]:
# start filling in the county
cong["County"] = ""
for index, row in cong.iterrows():
    precinct1, precinct2 = row["Precinct Name"], str(row["Precinct #"])
    if precinct2 in c2p.keys() and precinct1 in c2p[precinct2]:
        cong.at[index, "County"] = c2p[precinct2][1]

cong["County"].unique()

array(['Bristol County', 'Providence County', 'Newport County', '', nan,
       'Washington County', 'Kent County'], dtype=object)

In [82]:
# fill 2109: newport 2019 with county Newport County
# same for 2110 Newport Limited
index = cong[(cong["Precinct #"] == "2109") & (cong["Precinct Name"] == "Newport 2109")].index.to_list()[0]
cong.at[index, "County"] = "Newport County"
index = cong[(cong["Precinct #"] == "2110") & (cong["Precinct Name"] == "Newport Limited")].index.to_list()[0]
cong.at[index, "County"] = "Newport County"

In [83]:
# check county that is not filled
indexes = cong[cong["County"] == ''].index.to_list()
for index in indexes:
    cong.at[index, "County"] = "Newport County"
cong["County"].unique()

array(['Bristol County', 'Providence County', 'Newport County', nan,
       'Washington County', 'Kent County'], dtype=object)

In [84]:
def normalizePrecinctNum(df):
    df = df.astype({"Precinct #": "str"})
    for index, row in df.iterrows():
        if len(row["Precinct #"]) != 4:
            df.at[index, "Precinct #"] = "0"+row["Precinct #"]
    return df

cong = normalizePrecinctNum(cong)
cong.head(2)

,Precinct Name,Precinct #,Total Votes,E Day,Mail,Party,Office Title,Candidate,Vote For,County
2315,Barrington 0101,0101,916,858,58,DEM,Representative in Congress District 1,David N. Cicilline,1,Bristol County
2316,Barrington 0102,0102,1245,1131,114,DEM,Representative in Congress District 1,David N. Cicilline,1,Bristol County

In [85]:
cong.drop(columns=["Vote For", "E Day", "Mail"], axis=1, inplace=True)
cong.head(2)

,Precinct Name,Precinct #,Total Votes,Party,Office Title,Candidate,County
2315,Barrington 0101,0101,916,DEM,Representative in Congress District 1,David N. Cicilline,Bristol County
2316,Barrington 0102,0102,1245,DEM,Representative in Congress District 1,David N. Cicilline,Bristol County

In [86]:
cong.rename({"Total Votes":"Total"}, inplace=True, axis=1)

In [87]:
cong["Party"].unique()

array(['DEM', 'REP', 'NON'], dtype=object)

# merge by precinct Name

In [88]:
grouped = cong.groupby(["Office Title", "Precinct #", "Precinct Name", "County", "Candidate", "Party"])
grouped.sum()

                                                                                                                 Total
Office Title                          Precinct # Precinct Name        County         Candidate            Party
Representative in Congress District 1 0101       Barrington 0101      Bristol County David N. Cicilline   DEM      916
                                                                                     Patrick J. Donovan   REP      494
                                                                                     WRITE-IN             NON        2
                                      0102       Barrington 0102      Bristol County David N. Cicilline   DEM     1245
                                                                                     Patrick J. Donovan   REP      558
...                                                                                                                ...
Representative in Congress District 2 3810       West Warwick 3810    Kent County    Salvatore G. Caiozzo REP      269
                                                                                     WRITE-IN             NON        0
                                      3811       West Warwick Limited Kent County    James R. Langevin    DEM        0
                                                                                     Salvatore G. Caiozzo REP        0
                                                                                     WRITE-IN             NON        0

[1383 rows x 1 columns]

In [89]:
# new dataframe
columns = ["County", "Precinct Name", "Precinct #", "Democratic",
           "Republican", "Independent", "Other", "Total"]
new_RI = pd.DataFrame(columns=columns)
new_RI.head()

Empty DataFrame
Columns: [County, Precinct Name, Precinct #, Democratic, Republican, Independent, Other, Total]
Index: []

In [90]:
vote_column_name = {'DEM': "Democratic", 'REP': "Republican", 'NON': "Other", 'Ind': "Independent"}

# iterate the groupby df
print("################## Merging RI Dataframe ##################")

new_row = ""
cur_precinct = ""
total_votes = 0

for index, group in grouped:
    cur_row = group.loc[:].head(1)
    precinct = cur_row["Precinct #"].values[0]

    if precinct != cur_precinct:
        if cur_precinct != "":
            # add TotalVotes to new row
            new_row["Total"] = total_votes
            # add new_row to new_RI dataframe
            new_RI = pd.concat([new_RI, new_row], ignore_index=True, sort=False)
            
        # reset vars
        cur_precinct = precinct
        new_row = ""
        total_votes = 0
    
    if type(new_row) == str:
        # get columns other than Total (Vote)
        new_row = cur_row[["Office Title", "County", "Precinct Name", "Precinct #"]]

    candidate_key = cur_row["Party"].values[0]
    new_row[vote_column_name[candidate_key]] = cur_row["Total"].values[0]
    total_votes += cur_row["Total"].values[0]
    
print("\n################ Done Merging RI Dataframe ###############")

################## Merging RI Dataframe ##################

################ Done Merging RI Dataframe ###############

# match new_RI to real

In [91]:
len(new_RI)

460

In [92]:
new_RI.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460 entries, 0 to 459
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   County         460 non-null    object
 1   Precinct Name  460 non-null    object
 2   Precinct #     460 non-null    object
 3   Democratic     460 non-null    object
 4   Republican     460 non-null    object
 5   Independent    0 non-null      object
 6   Other          460 non-null    object
 7   Total          460 non-null    object
 8   Office Title   460 non-null    object
dtypes: object(9)
memory usage: 32.5+ KB

In [93]:
new_RI.fillna(value=0, inplace=True)
new_RI.head(1)

,County,Precinct Name,Precinct #,Democratic,Republican,Independent,Other,Total,Office Title
0,Bristol County,Barrington 0101,0101,916,494,0,2,1412,Representative in Congress District 1

In [94]:
def gen_dict(df, plus=0):
    c2p = {}
    for index, row in df.iterrows():
        county = row["County"]
        if plus:
            county += " County"
        precinct1 = row["Precinct #"]
        if county not in c2p.keys():
            c2p[county] = [precinct1]
        else:
            c2p[county].append(precinct1)

    return c2p

In [95]:
realC2P = gen_dict(real, 1)
newC2P = gen_dict(new_RI)

In [96]:
inNewNotReal = {}
inRealNotNew = {}
for county, precList in newC2P.items():
    for prec in precList:
        if prec not in realC2P[county]:
            if county in inNewNotReal.keys():
                inNewNotReal[county].append(prec)
            else:
                inNewNotReal[county] = [prec]
for county, precList in realC2P.items():
    for prec in precList:
        if prec not in newC2P[county]:
            if county in inRealNotNew.keys():
                inRealNotNew[county].append(prec)
            else:
                inRealNotNew[county] = [prec]

In [97]:
print(len(new_RI), len(real), len(new_RI["Precinct #"].unique()), len(real["Precinct #"].unique()))

460 419 460 419

In [98]:
inRealNotNew

{'Providence County': ['0729']}

In [99]:
inNewNotReal

{'Bristol County': ['0106', '0210', '3404'],
 'Providence County': ['0409',
  '0814',
  '1018',
  '1019',
  '1712',
  '2417',
  '2506',
  '2631',
  '2632',
  '2881',
  '3107',
  '3913',
  '0307',
  '0732',
  '1203',
  '1305',
  '1614',
  '2882',
  '3004'],
 'Newport County': ['1503', '1802', '1906', '2109', '2110', '2709', '3308'],
 'Washington County': ['0505',
  '1104',
  '1404',
  '2006',
  '2202',
  '2310',
  '2903',
  '3211',
  '3608'],
 'Kent County': ['0619', '0906', '3534', '3705']}

In [100]:
for county, precs in inNewNotReal.items():
    rows = new_RI[new_RI["County"]==county]
    for index, row in rows.iterrows():
        prec = row["Precinct #"]
        if prec in precs:
            print(county, prec, " Total:", row["Total"])

Bristol County 0106  Total: 0
Bristol County 0210  Total: 0
Bristol County 3404  Total: 0
Providence County 0409  Total: 3
Providence County 0814  Total: 3
Providence County 1018  Total: 522
Providence County 1019  Total: 7
Providence County 1712  Total: 4
Providence County 2417  Total: 2
Providence County 2506  Total: 0
Providence County 2631  Total: 390
Providence County 2632  Total: 6
Providence County 2881  Total: 3
Providence County 3107  Total: 0
Providence County 3913  Total: 0
Providence County 0307  Total: 1
Providence County 0732  Total: 7
Providence County 1203  Total: 3
Providence County 1305  Total: 0
Providence County 1614  Total: 3
Providence County 2882  Total: 5
Providence County 3004  Total: 0
Newport County 1503  Total: 1
Newport County 1802  Total: 0
Newport County 1906  Total: 2
Newport County 2109  Total: 255
Newport County 2110  Total: 3
Newport County 2709  Total: 1
Newport County 3308  Total: 1
Washington County 0505  Total: 0
Washington County 1104  Total: 0
Washington County 1404  Total: 0
Washington County 2006  Total: 0
Washington County 2202  Total: 0
Washington County 2310  Total: 2
Washington County 2903  Total: 0
Washington County 3211  Total: 1
Washington County 3608  Total: 0
Kent County 0619  Total: 0
Kent County 0906  Total: 1
Kent County 3534  Total: 4
Kent County 3705  Total: 0

In [101]:
for county, precs in inRealNotNew.items():
    rows = real[real["County"]==county.split(" ")[0]]
    for index, row in rows.iterrows():
        prec = row["Precinct #"]
        if prec in precs:
            print(county, prec, " Total Votes:", row["Total Votes"], "Total Population:", row["Total Population"])

Providence County 0729  Total Votes: 0 Total Population: 1577

# fixing
- Providence County 2631 = Providence County 0729
- delete all rest that is in new_RI but not in real

In [102]:
index = new_RI[(new_RI["County"] == "Providence County") & (new_RI["Precinct #"] == "2631")].index
print(index)

Int64Index([144], dtype='int64')

In [103]:
new_RI.at[index[0], "Precinct #"] = "0729"

In [104]:
inNewNotReal = {}
inRealNotNew = {}
realC2P = gen_dict(real, 1)
newC2P = gen_dict(new_RI)
for county, precList in newC2P.items():
    for prec in precList:
        if prec not in realC2P[county]:
            if county in inNewNotReal.keys():
                inNewNotReal[county].append(prec)
            else:
                inNewNotReal[county] = [prec]
for county, precList in realC2P.items():
    for prec in precList:
        if prec not in newC2P[county]:
            if county in inRealNotNew.keys():
                inRealNotNew[county].append(prec)
            else:
                inRealNotNew[county] = [prec]

In [105]:
inRealNotNew

{}

In [106]:
inNewNotReal

{'Bristol County': ['0106', '0210', '3404'],
 'Providence County': ['0409',
  '0814',
  '1018',
  '1019',
  '1712',
  '2417',
  '2506',
  '2632',
  '2881',
  '3107',
  '3913',
  '0307',
  '0732',
  '1203',
  '1305',
  '1614',
  '2882',
  '3004'],
 'Newport County': ['1503', '1802', '1906', '2109', '2110', '2709', '3308'],
 'Washington County': ['0505',
  '1104',
  '1404',
  '2006',
  '2202',
  '2310',
  '2903',
  '3211',
  '3608'],
 'Kent County': ['0619', '0906', '3534', '3705']}

In [107]:
for index, row in new_RI.iterrows():
    county = row["County"]
    precinctNum = row["Precinct #"]
    if county in inNewNotReal.keys() and precinctNum in inNewNotReal[county]:
        new_RI.drop(index=index, axis=0, inplace=True)
len(new_RI)

419

In [108]:
real.head(1)

,County,Precinct #,Hillary Clinton/Dem,Donald J. Trump/Rep,Gary Johnson/Lib,Jill Stein/Grn,Other/Other,Total Votes,State,CName,...,Total Population,White,Black or African American,American Indian,Asian,Other Population,MissingVote,MissingDemo,VoteDemoConflict,geometry
2446,Bristol,0101,1027,522,60,23,2,1634,ri,ri-bristol-0101,...,3268,3055,23,3,110,73,None,None,None,"POLYGON ((-71.32270 41.77270, -71.32270 41.772..."

In [109]:
def gen_dict(df, plus=0):
    c2p = {}
    for index, row in df.iterrows():
        county = row["County"]
        precinct = row["Precinct #"]
        if county not in c2p.keys():
            c2p[county] = {precinct: row["CName"]}
        else:
            c2p[county][precinct] = row["CName"]

    return c2p
real_CName_dict = gen_dict(real)

In [110]:
real_CName_dict

{'Bristol': {'0101': 'ri-bristol-0101',
  '0102': 'ri-bristol-0102',
  '0103': 'ri-bristol-0103',
  '0104': 'ri-bristol-0104',
  '0105': 'ri-bristol-0105',
  '0201': 'ri-bristol-0201',
  '0202': 'ri-bristol-0202',
  '0203': 'ri-bristol-0203',
  '0204': 'ri-bristol-0204',
  '0205': 'ri-bristol-0205',
  '0206': 'ri-bristol-0206',
  '0207': 'ri-bristol-0207',
  '0208': 'ri-bristol-0208',
  '0209': 'ri-bristol-0209',
  '3401': 'ri-bristol-3401',
  '3402': 'ri-bristol-3402',
  '3403': 'ri-bristol-3403'},
 'Kent': {'0601': 'ri-kent-0601',
  '0602': 'ri-kent-0602',
  '0603': 'ri-kent-0603',
  '0604': 'ri-kent-0604',
  '0605': 'ri-kent-0605',
  '0606': 'ri-kent-0606',
  '0607': 'ri-kent-0607',
  '0608': 'ri-kent-0608',
  '0609': 'ri-kent-0609',
  '0610': 'ri-kent-0610',
  '0611': 'ri-kent-0611',
  '0612': 'ri-kent-0612',
  '0613': 'ri-kent-0613',
  '0614': 'ri-kent-0614',
  '0615': 'ri-kent-0615',
  '0616': 'ri-kent-0616',
  '0617': 'ri-kent-0617',
  '0618': 'ri-kent-0618',
  '0901': 'ri-kent-0901',
  '0902': 'ri-kent-0902',
  '0903': 'ri-kent-0903',
  '0904': 'ri-kent-0904',
  '0905': 'ri-kent-0905',
  '3501': 'ri-kent-3501',
  '3502': 'ri-kent-3502',
  '3503': 'ri-kent-3503',
  '3504': 'ri-kent-3504',
  '3505': 'ri-kent-3505',
  '3506': 'ri-kent-3506',
  '3507': 'ri-kent-3507',
  '3508': 'ri-kent-3508',
  '3509': 'ri-kent-3509',
  '3510': 'ri-kent-3510',
  '3511': 'ri-kent-3511',
  '3512': 'ri-kent-3512',
  '3513': 'ri-kent-3513',
  '3514': 'ri-kent-3514',
  '3515': 'ri-kent-3515',
  '3516': 'ri-kent-3516',
  '3517': 'ri-kent-3517',
  '3518': 'ri-kent-3518',
  '3519': 'ri-kent-3519',
  '3520': 'ri-kent-3520',
  '3521': 'ri-kent-3521',
  '3522': 'ri-kent-3522',
  '3523': 'ri-kent-3523',
  '3524': 'ri-kent-3524',
  '3525': 'ri-kent-3525',
  '3526': 'ri-kent-3526',
  '3527': 'ri-kent-3527',
  '3528': 'ri-kent-3528',
  '3529': 'ri-kent-3529',
  '3530': 'ri-kent-3530',
  '3531': 'ri-kent-3531',
  '3532': 'ri-kent-3532',
  '3533': 'ri-kent-3533',
  '3701': 'ri-kent-3701',
  '3702': 'ri-kent-3702',
  '3703': 'ri-kent-3703',
  '3704': 'ri-kent-3704',
  '3801': 'ri-kent-3801',
  '3802': 'ri-kent-3802',
  '3803': 'ri-kent-3803',
  '3804': 'ri-kent-3804',
  '3805': 'ri-kent-3805',
  '3806': 'ri-kent-3806',
  '3807': 'ri-kent-3807',
  '3808': 'ri-kent-3808',
  '3809': 'ri-kent-3809',
  '3810': 'ri-kent-3810'},
 'Newport': {'1501': 'ri-newport-1501',
  '1502': 'ri-newport-1502',
  '1801': 'ri-newport-1801',
  '1901': 'ri-newport-1901',
  '1902': 'ri-newport-1902',
  '1903': 'ri-newport-1903',
  '1904': 'ri-newport-1904',
  '1905': 'ri-newport-1905',
  '2101': 'ri-newport-2101',
  '2102': 'ri-newport-2102',
  '2103': 'ri-newport-2103',
  '2104': 'ri-newport-2104',
  '2105': 'ri-newport-2105',
  '2106': 'ri-newport-2106',
  '2107': 'ri-newport-2107',
  '2108': 'ri-newport-2108',
  '2701': 'ri-newport-2701',
  '2702': 'ri-newport-2702',
  '2703': 'ri-newport-2703',
  '2704': 'ri-newport-2704',
  '2705': 'ri-newport-2705',
  '2706': 'ri-newport-2706',
  '2707': 'ri-newport-2707',
  '2708': 'ri-newport-2708',
  '3301': 'ri-newport-3301',
  '3302': 'ri-newport-3302',
  '3303': 'ri-newport-3303',
  '3304': 'ri-newport-3304',
  '3305': 'ri-newport-3305',
  '3306': 'ri-newport-3306',
  '3307': 'ri-newport-3307'},
 'Providence': {'0301': 'ri-providence-0301',
  '0302': 'ri-providence-0302',
  '0303': 'ri-providence-0303',
  '0304': 'ri-providence-0304',
  '0305': 'ri-providence-0305',
  '0306': 'ri-providence-0306',
  '0401': 'ri-providence-0401',
  '0402': 'ri-providence-0402',
  '0403': 'ri-providence-0403',
  '0404': 'ri-providence-0404',
  '0405': 'ri-providence-0405',
  '0406': 'ri-providence-0406',
  '0407': 'ri-providence-0407',
  '0408': 'ri-providence-0408',
  '0701': 'ri-providence-0701',
  '0702': 'ri-providence-0702',
  '0703': 'ri-providence-0703',
  '0704': 'ri-providence-0704',
  '0705': 'ri-providence-0705',
  '0706': 'ri-providence-0706',
  '0707': 'ri-providence-0707',
  '0708': 'ri-providence-0708',
  '0709': 'ri-providence-0709',
  '0710': 'ri-providence-0710',
  '0711': 'ri-providence-0711',
  '0712': 'ri-providence-0712',
  '0713': 'ri-providence-0713',
  '0714': 'ri-providence-0714',
  '0715': 'ri-providence-0715',
  '0716': 'ri-providence-0716',
  '0717': 'ri-providence-0717',
  '0718': 'ri-providence-0718',
  '0719': 'ri-providence-0719',
  '0720': 'ri-providence-0720',
  '0721': 'ri-providence-0721',
  '0722': 'ri-providence-0722',
  '0723': 'ri-providence-0723',
  '0724': 'ri-providence-0724',
  '0725': 'ri-providence-0725',
  '0726': 'ri-providence-0726',
  '0727': 'ri-providence-0727',
  '0728': 'ri-providence-0728',
  '0729': 'ri-providence-0729',
  '0730': 'ri-providence-0730',
  '0731': 'ri-providence-0731',
  '0801': 'ri-providence-0801',
  '0802': 'ri-providence-0802',
  '0803': 'ri-providence-0803',
  '0804': 'ri-providence-0804',
  '0805': 'ri-providence-0805',
  '0806': 'ri-providence-0806',
  '0807': 'ri-providence-0807',
  '0808': 'ri-providence-0808',
  '0809': 'ri-providence-0809',
  '0810': 'ri-providence-0810',
  '0811': 'ri-providence-0811',
  '0812': 'ri-providence-0812',
  '0813': 'ri-providence-0813',
  '1001': 'ri-providence-1001',
  '1002': 'ri-providence-1002',
  '1003': 'ri-providence-1003',
  '1004': 'ri-providence-1004',
  '1005': 'ri-providence-1005',
  '1006': 'ri-providence-1006',
  '1007': 'ri-providence-1007',
  '1008': 'ri-providence-1008',
  '1009': 'ri-providence-1009',
  '1010': 'ri-providence-1010',
  '1011': 'ri-providence-1011',
  '1012': 'ri-providence-1012',
  '1013': 'ri-providence-1013',
  '1014': 'ri-providence-1014',
  '1015': 'ri-providence-1015',
  '1016': 'ri-providence-1016',
  '1017': 'ri-providence-1017',
  '1201': 'ri-providence-1201',
  '1202': 'ri-providence-1202',
  '1301': 'ri-providence-1301',
  '1302': 'ri-providence-1302',
  '1303': 'ri-providence-1303',
  '1304': 'ri-providence-1304',
  '1601': 'ri-providence-1601',
  '1602': 'ri-providence-1602',
  '1603': 'ri-providence-1603',
  '1604': 'ri-providence-1604',
  '1605': 'ri-providence-1605',
  '1606': 'ri-providence-1606',
  '1607': 'ri-providence-1607',
  '1608': 'ri-providence-1608',
  '1609': 'ri-providence-1609',
  '1610': 'ri-providence-1610',
  '1611': 'ri-providence-1611',
  '1612': 'ri-providence-1612',
  '1613': 'ri-providence-1613',
  '1701': 'ri-providence-1701',
  '1702': 'ri-providence-1702',
  '1703': 'ri-providence-1703',
  '1704': 'ri-providence-1704',
  '1705': 'ri-providence-1705',
  '1706': 'ri-providence-1706',
  '1707': 'ri-providence-1707',
  '1708': 'ri-providence-1708',
  '1709': 'ri-providence-1709',
  '1710': 'ri-providence-1710',
  '1711': 'ri-providence-1711',
  '2401': 'ri-providence-2401',
  '2402': 'ri-providence-2402',
  '2403': 'ri-providence-2403',
  '2404': 'ri-providence-2404',
  '2405': 'ri-providence-2405',
  '2406': 'ri-providence-2406',
  '2407': 'ri-providence-2407',
  '2408': 'ri-providence-2408',
  '2409': 'ri-providence-2409',
  '2410': 'ri-providence-2410',
  '2411': 'ri-providence-2411',
  '2412': 'ri-providence-2412',
  '2413': 'ri-providence-2413',
  '2414': 'ri-providence-2414',
  '2415': 'ri-providence-2415',
  '2416': 'ri-providence-2416',
  '2501': 'ri-providence-2501',
  '2502': 'ri-providence-2502',
  '2503': 'ri-providence-2503',
  '2504': 'ri-providence-2504',
  '2505': 'ri-providence-2505',
  '2601': 'ri-providence-2601',
  '2602': 'ri-providence-2602',
  '2603': 'ri-providence-2603',
  '2604': 'ri-providence-2604',
  '2605': 'ri-providence-2605',
  '2606': 'ri-providence-2606',
  '2607': 'ri-providence-2607',
  '2608': 'ri-providence-2608',
  '2609': 'ri-providence-2609',
  '2610': 'ri-providence-2610',
  '2611': 'ri-providence-2611',
  '2612': 'ri-providence-2612',
  '2613': 'ri-providence-2613',
  '2614': 'ri-providence-2614',
  '2615': 'ri-providence-2615',
  '2616': 'ri-providence-2616',
  '2617': 'ri-providence-2617',
  '2618': 'ri-providence-2618',
  '2619': 'ri-providence-2619',
  '2620': 'ri-providence-2620',
  '2621': 'ri-providence-2621',
  '2622': 'ri-providence-2622',
  '2623': 'ri-providence-2623',
  '2624': 'ri-providence-2624',
  '2625': 'ri-providence-2625',
  '2626': 'ri-providence-2626',
  '2627': 'ri-providence-2627',
  '2628': 'ri-providence-2628',
  '2629': 'ri-providence-2629',
  '2630': 'ri-providence-2630',
  '2801': 'ri-providence-2801',
  '2802': 'ri-providence-2802',
  '2803': 'ri-providence-2803',
  '2804': 'ri-providence-2804',
  '2805': 'ri-providence-2805',
  '2806': 'ri-providence-2806',
  '2807': 'ri-providence-2807',
  '2808': 'ri-providence-2808',
  '2809': 'ri-providence-2809',
  '2810': 'ri-providence-2810',
  '2811': 'ri-providence-2811',
  '2812': 'ri-providence-2812',
  '2813': 'ri-providence-2813',
  '2814': 'ri-providence-2814',
  '2815': 'ri-providence-2815',
  '2816': 'ri-providence-2816',
  '2817': 'ri-providence-2817',
  '2818': 'ri-providence-2818',
  '2819': 'ri-providence-2819',
  '2820': 'ri-providence-2820',
  '2821': 'ri-providence-2821',
  '2822': 'ri-providence-2822',
  '2823': 'ri-providence-2823',
  '2824': 'ri-providence-2824',
  '2825': 'ri-providence-2825',
  '2826': 'ri-providence-2826',
  '2827': 'ri-providence-2827',
  '2828': 'ri-providence-2828',
  '2829': 'ri-providence-2829',
  '2830': 'ri-providence-2830',
  '2831': 'ri-providence-2831',
  '2832': 'ri-providence-2832',
  '2833': 'ri-providence-2833',
  '2834': 'ri-providence-2834',
  '2835': 'ri-providence-2835',
  '2836': 'ri-providence-2836',
  '2837': 'ri-providence-2837',
  '2838': 'ri-providence-2838',
  '2839': 'ri-providence-2839',
  '2840': 'ri-providence-2840',
  '2841': 'ri-providence-2841',
  '2842': 'ri-providence-2842',
  '2843': 'ri-providence-2843',
  '2844': 'ri-providence-2844',
  '2845': 'ri-providence-2845',
  '2846': 'ri-providence-2846',
  '2847': 'ri-providence-2847',
  '2848': 'ri-providence-2848',
  '2849': 'ri-providence-2849',
  '2850': 'ri-providence-2850',
  '2851': 'ri-providence-2851',
  '2852': 'ri-providence-2852',
  '2853': 'ri-providence-2853',
  '2854': 'ri-providence-2854',
  '2855': 'ri-providence-2855',
  '2856': 'ri-providence-2856',
  '2857': 'ri-providence-2857',
  '2858': 'ri-providence-2858',
  '2859': 'ri-providence-2859',
  '2860': 'ri-providence-2860',
  '2861': 'ri-providence-2861',
  '2862': 'ri-providence-2862',
  '2863': 'ri-providence-2863',
  '2864': 'ri-providence-2864',
  '2865': 'ri-providence-2865',
  '2866': 'ri-providence-2866',
  '2867': 'ri-providence-2867',
  '2868': 'ri-providence-2868',
  '2869': 'ri-providence-2869',
  '2870': 'ri-providence-2870',
  '2871': 'ri-providence-2871',
  '2872': 'ri-providence-2872',
  '2873': 'ri-providence-2873',
  '2874': 'ri-providence-2874',
  '2875': 'ri-providence-2875',
  '2876': 'ri-providence-2876',
  '2877': 'ri-providence-2877',
  '2878': 'ri-providence-2878',
  '2879': 'ri-providence-2879',
  '2880': 'ri-providence-2880',
  '3001': 'ri-providence-3001',
  '3002': 'ri-providence-3002',
  '3003': 'ri-providence-3003',
  '3101': 'ri-providence-3101',
  '3102': 'ri-providence-3102',
  '3103': 'ri-providence-3103',
  '3104': 'ri-providence-3104',
  '3105': 'ri-providence-3105',
  '3106': 'ri-providence-3106',
  '3901': 'ri-providence-3901',
  '3902': 'ri-providence-3902',
  '3903': 'ri-providence-3903',
  '3904': 'ri-providence-3904',
  '3905': 'ri-providence-3905',
  '3906': 'ri-providence-3906',
  '3907': 'ri-providence-3907',
  '3908': 'ri-providence-3908',
  '3909': 'ri-providence-3909',
  '3910': 'ri-providence-3910',
  '3911': 'ri-providence-3911',
  '3912': 'ri-providence-3912'},
 'Washington': {'0501': 'ri-washington-0501',
  '0502': 'ri-washington-0502',
  '0503': 'ri-washington-0503',
  '0504': 'ri-washington-0504',
  '1101': 'ri-washington-1101',
  '1102': 'ri-washington-1102',
  '1103': 'ri-washington-1103',
  '1401': 'ri-washington-1401',
  '1402': 'ri-washington-1402',
  '1403': 'ri-washington-1403',
  '2001': 'ri-washington-2001',
  '2002': 'ri-washington-2002',
  '2003': 'ri-washington-2003',
  '2004': 'ri-washington-2004',
  '2005': 'ri-washington-2005',
  '2201': 'ri-washington-2201',
  '2301': 'ri-washington-2301',
  '2302': 'ri-washington-2302',
  '2303': 'ri-washington-2303',
  '2304': 'ri-washington-2304',
  '2305': 'ri-washington-2305',
  '2306': 'ri-washington-2306',
  '2307': 'ri-washington-2307',
  '2308': 'ri-washington-2308',
  '2309': 'ri-washington-2309',
  '2901': 'ri-washington-2901',
  '2902': 'ri-washington-2902',
  '3201': 'ri-washington-3201',
  '3202': 'ri-washington-3202',
  '3203': 'ri-washington-3203',
  '3204': 'ri-washington-3204',
  '3205': 'ri-washington-3205',
  '3206': 'ri-washington-3206',
  '3207': 'ri-washington-3207',
  '3208': 'ri-washington-3208',
  '3209': 'ri-washington-3209',
  '3210': 'ri-washington-3210',
  '3601': 'ri-washington-3601',
  '3602': 'ri-washington-3602',
  '3603': 'ri-washington-3603',
  '3604': 'ri-washington-3604',
  '3605': 'ri-washington-3605',
  '3606': 'ri-washington-3606',
  '3607': 'ri-washington-3607'}}

In [111]:
new_RI["CName"] = ""
for index, row in new_RI.iterrows():
    new_RI.at[index, "CName"] = real_CName_dict[row["County"].split(" ")[0]][row["Precinct #"]]
new_RI.head()

,County,Precinct Name,Precinct #,Democratic,Republican,Independent,Other,Total,Office Title,CName
0,Bristol County,Barrington 0101,0101,916,494,0,2,1412,Representative in Congress District 1,ri-bristol-0101
1,Bristol County,Barrington 0102,0102,1245,558,0,8,1811,Representative in Congress District 1,ri-bristol-0102
2,Bristol County,Barrington 0103,0103,991,471,0,4,1466,Representative in Congress District 1,ri-bristol-0103
3,Bristol County,Barrington 0104,0104,1176,567,0,0,1743,Representative in Congress District 1,ri-bristol-0104
4,Bristol County,Barrington 0105,0105,1186,583,0,7,1776,Representative in Congress District 1,ri-bristol-0105

In [112]:
new_RI.drop(columns=["County", "Precinct Name", "Precinct #"], axis=1, inplace=True)
new_RI.rename({"Office Title":"dist_num"}, axis=1, inplace=True)
new_RI.head(2)

,Democratic,Republican,Independent,Other,Total,dist_num,CName
0,916,494,0,2,1412,Representative in Congress District 1,ri-bristol-0101
1,1245,558,0,8,1811,Representative in Congress District 1,ri-bristol-0102

In [113]:
for index, row in new_RI.iterrows():
    new_RI.at[index, "dist_num"] = row["dist_num"].split(" ")[-1]
new_RI["dist_num"].unique()

array(['1', '2'], dtype=object)

In [114]:
new_RI["Type"] = "CONG18"

In [115]:
new_RI.head()

,Democratic,Republican,Independent,Other,Total,dist_num,CName,Type
0,916,494,0,2,1412,1,ri-bristol-0101,CONG18
1,1245,558,0,8,1811,1,ri-bristol-0102,CONG18
2,991,471,0,4,1466,1,ri-bristol-0103,CONG18
3,1176,567,0,0,1743,1,ri-bristol-0104,CONG18
4,1186,583,0,7,1776,1,ri-bristol-0105,CONG18

In [116]:
new_RI.isna().sum()

Democratic     0
Republican     0
Independent    0
Other          0
Total          0
dist_num       0
CName          0
Type           0
dtype: int64

In [117]:
len(new_RI)

419

In [118]:
len(real)

419

In [119]:
new_RI.to_csv(file_name.split(".")[0]+".csv", index=False)