In [1]:
import geopandas as gpd
import pandas as pd

In [2]:
gdf = gpd.read_file("../all_states_precincts_cname_neighbor_demo.json")

In [5]:
TX = gdf[gdf["State"] == "tx"]
TX.head(1)

,County,Precinct #,Hillary Clinton/Dem,Donald J. Trump/Rep,Gary Johnson/Lib,Jill Stein/Grn,Other/Other,Total Votes,State,CName,Neighbors,Total Population,White,Black or African American,American Indian,Asian,Other Population,geometry
419,Anderson,1,262,742,18,5,3,1030,tx,tx-anderson-1,"tx-anderson-1,tx-anderson-3; tx-anderson-1,tx-...",2651,1965,393,16,37,239,"POLYGON ((-95.60102 31.74519, -95.60095 31.745..."

In [7]:
# TX.to_file("TX_all_data.json", driver="GeoJSON")

In [8]:
copy = TX.copy()

# parse all data except neighbor and geometry

In [12]:
TX = copy.copy()
TX.head(1)

,County,Precinct #,Hillary Clinton/Dem,Donald J. Trump/Rep,Gary Johnson/Lib,Jill Stein/Grn,Other/Other,Total Votes,State,CName,Neighbors,Total Population,White,Black or African American,American Indian,Asian,Other Population,geometry
419,Anderson,1,262,742,18,5,3,1030,tx,tx-anderson-1,"tx-anderson-1,tx-anderson-3; tx-anderson-1,tx-...",2651,1965,393,16,37,239,"POLYGON ((-95.60102 31.74519, -95.60095 31.745..."

In [13]:
TX.drop(["geometry", "Neighbors"], axis=1, inplace=True)
TX.head(1)

,County,Precinct #,Hillary Clinton/Dem,Donald J. Trump/Rep,Gary Johnson/Lib,Jill Stein/Grn,Other/Other,Total Votes,State,CName,Total Population,White,Black or African American,American Indian,Asian,Other Population
419,Anderson,1,262,742,18,5,3,1030,tx,tx-anderson-1,2651,1965,393,16,37,239

In [14]:
TX.to_csv("TX_voting_demo.csv", index=False)

# parse neighbors

In [15]:
TX = copy.copy()

In [16]:
keep = ["CName", "Neighbors"]
c = gdf.columns.to_list()
c = [a for a in c if a not in keep]
TX.drop(c, axis=1, inplace=True)
TX.head(1)

             CName                                          Neighbors
419  tx-anderson-1  tx-anderson-1,tx-anderson-3; tx-anderson-1,tx-...

In [17]:
newdf = pd.DataFrame(columns=["CName", "Neighbor"])
for index, row in TX.iterrows():
    all_neighbors = row["Neighbors"].split(";")
    newrow = row
    
    for n in all_neighbors:
        newrow["Neighbor"] = n
        newdf = newdf.append(newrow)
newdf.head()

,CName,Neighbor,Neighbors
419,tx-anderson-1,"tx-anderson-1,tx-anderson-3","tx-anderson-1,tx-anderson-3; tx-anderson-1,tx-..."
419,tx-anderson-1,"tx-anderson-1,tx-anderson-6","tx-anderson-1,tx-anderson-3; tx-anderson-1,tx-..."
419,tx-anderson-1,"tx-anderson-1,tx-anderson-13","tx-anderson-1,tx-anderson-3; tx-anderson-1,tx-..."
419,tx-anderson-1,"tx-anderson-1,tx-anderson-15","tx-anderson-1,tx-anderson-3; tx-anderson-1,tx-..."
420,tx-anderson-10,"tx-anderson-10,tx-anderson-9","tx-anderson-10,tx-anderson-9; tx-anderson-10,t..."

In [18]:
newdf.drop(["Neighbors"], axis=1, inplace=True)
newdf.head(1)

             CName                     Neighbor
419  tx-anderson-1  tx-anderson-1,tx-anderson-3

In [19]:
newdf.to_csv("TX_Neighbor_Parsed.csv", index=False)