In [2]:
!ls

VA._Final_Parsed_Split.zip VA2Precinct_Parsed.csv
VA0Final.csv               VA3Final.csv
VA0Precinct.json           VA3Precinct.json
VA0Precinct_Parsed.csv     VA3Precinct_Parsed.csv
VA1Final.csv               VA_Final_Merged.csv
VA1Precinct.json           VA_Final_Merged.csv.zip
VA1Precinct_Parsed.csv     fixDFindex.ipynb
VA2Final.csv               parse_precinct_cname.ipynb
VA2Precinct.json           parse_precinct_forDB.ipynb

In [3]:
import pandas as pd

In [4]:
dfs = []
for i in range(4):
    file_name = "VA" + str(i) + "Precinct_Parsed.csv"
    dfs.append(pd.read_csv(file_name))
print(len(dfs))

4

In [5]:
geovertex_id = 419894
polygon_id = 940
shape_id = 0

for i in range(len(dfs)):
    df = dfs[i]
    df = df.astype({'geovertex_id': 'int32', 'shape_id': 'int32', 'polygon_id': 'int32'})
    
    print("New DF")
    counter = 0
    for index, row in df.iterrows():
        if counter %4000 == 0:
            print("#", end="")
        df.at[index, "geovertex_id"] += geovertex_id
        df.at[index, "polygon_id"] += polygon_id
        df.at[index, "shape_id"] += shape_id
        counter+=1
        
    shape_id = df.iloc[-1]["shape_id"]
    polygon_id = df.iloc[-1]["polygon_id"]
    geovertex_id = df.iloc[-1]["geovertex_id"]
    dfs[i] = df

New DF
##########################################################################################################################################################New DF
###############################################################################################################################################################################################New DF
#########################################################################################################################################New DF
##################################################################################################################################################################

In [6]:
i = 0
for df in dfs:
    df.to_csv("VA"+str(i)+"Final.csv", index=False)
    i += 1

In [7]:
merged = pd.concat(dfs)

In [8]:
merged.sort_values(["geovertex_id"], inplace=True)
merged.head()

   geovertex_id  shape_id  polygon_id      x_pos      y_pos
0        419895         1         941 -75.662327  37.770533
1        419896         1         941 -75.662437  37.770359
2        419897         1         941 -75.663290  37.769145
3        419898         1         941 -75.663620  37.768669
4        419899         1         941 -75.665344  37.766075

In [ ]:
merged.to_csv("VA_Final_Merged.csv", index=False)