In [21]:
import geopandas as gpd
import pandas as pd

In [22]:
df = pd.read_csv("VA_Final_Merged.csv")

In [23]:
dfcopy = df.copy()

In [26]:
gdf = gpd.read_file("VA_Precinct_Merged.json")
gdfcopy=gdf.copy()

In [27]:
df.head(1)

   geovertex_id  shape_id  polygon_id      x_pos      y_pos
0        419895         1         941 -75.662327  37.770533

In [28]:
gdf.head(1)

,County,Precinct #,Hillary Clinton/Dem,Donald J. Trump/Rep,Gary Johnson/Lib,Jill Stein/Grn,Other/Other,Total Votes,State,CName,Neighbors,Total Population,White,Black or African American,American Indian,Asian,Other Population,geometry
0,Accomack,0001,486,637,16,8,4,2328,va,va-accomack-0001,"va-accomack-0001,va-accomack-0010; va-accomack...",3526,2336,906,12,20,246,"POLYGON ((-75.66233 37.77053, -75.66244 37.770..."

In [65]:
cnameDF = pd.DataFrame([["0", 0]], columns=["CName", "polygon_id"])
cnameDF.head()

  CName  polygon_id
0     0           0

In [66]:
all_shape_id = list(df["shape_id"].unique())

counter = 0
for index, row in gdf.iterrows():
    if counter%100==0:
        print("#", end="")
    if counter%1000==0:
        print(" {:0.2f}% ".format((counter/len(gdf))*100))
    
    
    cur_shape_id = all_shape_id[counter]
    all_poly_id = list(df[df["shape_id"] == cur_shape_id]["polygon_id"].unique())
    
    for idd in all_poly_id:
        cnameDF = cnameDF.append(pd.DataFrame([[row["CName"], idd]], columns=["CName", "polygon_id"]), ignore_index=True)
    counter +=1

# 0.00%
########## 40.88%
########## 81.77%
####

In [69]:
cnameDF.head()

              CName  polygon_id
1  va-accomack-0001         941
2  va-accomack-0002         942
3  va-accomack-0003         943
4  va-accomack-0004         944
5  va-accomack-0005         945

In [68]:
cnameDF.drop(index=0, axis=0, inplace=True)

In [70]:
len(cnameDF["polygon_id"].unique())

2527

In [71]:
len(df["polygon_id"].unique())

2527

In [1]:
cnameDF.to_csv("VA_CName_Parsed.csv", index=False)

NameError: name 'cnameDF' is not defined