In [8]:
import geopandas as gpd
import pandas as pd

In [9]:
gdf = gpd.read_file("all_states_precincts_cname_neighbor_demo.json")
gdfcopy=gdf.copy()

In [10]:
gdf.head(1)

,County,Precinct #,Hillary Clinton/Dem,Donald J. Trump/Rep,Gary Johnson/Lib,Jill Stein/Grn,Other/Other,Total Votes,State,CName,Neighbors,Total Population,White,Black or African American,American Indian,Asian,Other Population,geometry
0,Accomack,0001,486,637,16,8,4,2328,va,va-York-2446,"va-York-2446,va-York-2446; va-York-2446,va-Yor...",3526,2336,906,12,20,246,"POLYGON ((-75.66233 37.77053, -75.66244 37.770..."

In [11]:
gdf.drop(["geometry"], axis=1, inplace=True)
gdf.head(1)

,County,Precinct #,Hillary Clinton/Dem,Donald J. Trump/Rep,Gary Johnson/Lib,Jill Stein/Grn,Other/Other,Total Votes,State,CName,Neighbors,Total Population,White,Black or African American,American Indian,Asian,Other Population
0,Accomack,0001,486,637,16,8,4,2328,va,va-York-2446,"va-York-2446,va-York-2446; va-York-2446,va-Yor...",3526,2336,906,12,20,246

In [12]:
gdf = gdf[gdf["State"] == "va"]
gdf.head(1)

,County,Precinct #,Hillary Clinton/Dem,Donald J. Trump/Rep,Gary Johnson/Lib,Jill Stein/Grn,Other/Other,Total Votes,State,CName,Neighbors,Total Population,White,Black or African American,American Indian,Asian,Other Population
0,Accomack,0001,486,637,16,8,4,2328,va,va-York-2446,"va-York-2446,va-York-2446; va-York-2446,va-Yor...",3526,2336,906,12,20,246

# parse neighbor

In [13]:
c = list(gdf.columns)
c.remove("CName")
c.remove("Neighbors")
gdf.drop(c, axis=1, inplace=True)

In [14]:
newdf = pd.DataFrame(columns=["CName", "Neighbor"])
newdf.head()

Empty DataFrame
Columns: [CName, Neighbor]
Index: []

In [15]:
for index, row in gdf.iterrows():
    all_neighbors = row["Neighbors"]
    all_neighbors = all_neighbors.split(";")
    
    newrow = row
    for n in all_neighbors:
        newrow['Neighbor'] = n
        newdf = newdf.append(newrow)

newdf.head()

,CName,Neighbor,Neighbors
0,va-York-2446,"va-York-2446,va-York-2446","va-York-2446,va-York-2446; va-York-2446,va-Yor..."
0,va-York-2446,"va-York-2446,va-York-2446","va-York-2446,va-York-2446; va-York-2446,va-Yor..."
0,va-York-2446,"va-York-2446,va-York-2446","va-York-2446,va-York-2446; va-York-2446,va-Yor..."
0,va-York-2446,"va-York-2446,va-York-2446","va-York-2446,va-York-2446; va-York-2446,va-Yor..."
0,va-York-2446,"va-York-2446,va-York-2446","va-York-2446,va-York-2446; va-York-2446,va-Yor..."

In [16]:
newdf.drop(["Neighbors"], axis=1, inplace=True)

In [17]:
newdf.to_csv("VA_Neighbors_Parsed.csv", index=False)

# rest of the data

In [18]:
gdf = gdfcopy.copy()

In [20]:
gdf = gdf[gdf["State"]=="va"]

In [22]:
gdf.head(1)

,County,Precinct #,Hillary Clinton/Dem,Donald J. Trump/Rep,Gary Johnson/Lib,Jill Stein/Grn,Other/Other,Total Votes,State,CName,Neighbors,Total Population,White,Black or African American,American Indian,Asian,Other Population,geometry
0,Accomack,0001,486,637,16,8,4,2328,va,va-York-2446,"va-York-2446,va-York-2446; va-York-2446,va-Yor...",3526,2336,906,12,20,246,"POLYGON ((-75.66233 37.77053, -75.66244 37.770..."

In [23]:
dropping = ["geometry", "Neighbors"]
gdf.drop(dropping, axis=1, inplace=True)
gdf.head(1)

,County,Precinct #,Hillary Clinton/Dem,Donald J. Trump/Rep,Gary Johnson/Lib,Jill Stein/Grn,Other/Other,Total Votes,State,CName,Total Population,White,Black or African American,American Indian,Asian,Other Population
0,Accomack,0001,486,637,16,8,4,2328,va,va-York-2446,3526,2336,906,12,20,246

In [25]:
gdf.to_csv("VA_demo_voting.csv", index=False)