In [1]:
import geopandas as gpd
import pandas as pd

In [14]:
gdf = gpd.read_file("all_states_precincts_cname_neighbor_demo_OG.json")

In [15]:
gdf.head(2)

,County,Precinct #,Hillary Clinton/Dem,Donald J. Trump/Rep,Gary Johnson/Lib,Jill Stein/Grn,Other/Other,Total Votes,State,CName,Neighbors,Total Population,White,Black or African American,American Indian,Asian,Other Population,geometry
0,Bristol,0101,1027,522,60,23,2,1634,ri,ri-bristol-0101,"ri-bristol-0101,ri-bristol-0102; ri-bristol-01...",3268,3055,23,3,110,73,"POLYGON ((-71.32270 41.77270, -71.32270 41.772..."
1,Bristol,0102,1331,683,68,21,3,2106,ri,ri-bristol-0102,"ri-bristol-0102,ri-bristol-0101; ri-bristol-01...",2921,2740,18,3,85,70,"MULTIPOLYGON (((-71.35581 41.74533, -71.35560 ..."

In [16]:
c = list(gdf.columns)
c.remove("geometry")
c.remove("CName")
c.remove("State")
gdf.drop(columns=c, inplace=True, axis=1)
gdf.head(2)

  State            CName                                           geometry
0    ri  ri-bristol-0101  POLYGON ((-71.32270 41.77270, -71.32270 41.772...
1    ri  ri-bristol-0102  MULTIPOLYGON (((-71.35581 41.74533, -71.35560 ...

In [19]:
newgdf = pd.DataFrame(columns={"State", "CName", "x_pos", "y_pos"})
newgdf

Empty DataFrame
Columns: [State, y_pos, CName, x_pos]
Index: []

In [20]:
for index, row in gdf.iterrows():
    x, y = "", ""
    if row["geometry"].geom_type == "MultiPolygon":
        biggest_area = 0
        for shape in row["geometry"]:
            if shape.area > biggest_area:
                x, y = shape.centroid.coords[0] 
                biggest_area = shape.area
        
        newgdf = newgdf.append({"State":row["State"], "CName":row["CName"], "x_pos":x, "y_pos":y}, ignore_index=True)

In [21]:
newgdf.head()

  State      y_pos            CName      x_pos
0    ri  41.745035  ri-bristol-0102 -71.335621
1    ri  41.759840  ri-bristol-0104 -71.305247
2    ri  41.720414  ri-bristol-0105 -71.300874
3    ri  41.680992  ri-bristol-0206 -71.254415
4    ri  41.729413  ri-bristol-3401 -71.274858

In [23]:
newgdf.to_csv("multipolygonError.csv", index=False)