In [1]:
import geopandas as gpd
import pandas as pd

In [2]:
VA = gpd.read_file("VA/VA_Precinct_Merged.GeoJSON")
TX = gpd.read_file("TX/TX_Precinct_Merged.json")
RI = gpd.read_file("RI/RI_Precinct_Merged.json")

In [3]:
VA.head(1)

,CName,County,Precinct Name,Precinct #,Hillary Clinton/Dem,Donald J. Trump/Rep,Gary Johnson/Lib,Jill Stein/Grn,Other/Other,Total Votes,geometry
0,accomack county-Accomac,Accomack County,Accomac,0001,486,637,16,8,4,2328,"POLYGON ((-75.66233 37.77053, -75.66244 37.770..."

In [4]:
TX.head(1)

,County,Precinct #,Hillary Clinton/Dem,Donald J. Trump/Rep,Gary Johnson/Lib,Jill Stein/Grn,Other/Other,Total Votes,geometry
0,Anderson County,1,262,742,18,5,3,1030,"POLYGON ((-95.60102 31.74519, -95.60095 31.745..."

In [5]:
RI.head(1)

,Precinct #,County,Precinct Name,Hillary Clinton/Dem,Donald J. Trump/Rep,Gary Johnson/Lib,Jill Stein/Grn,Other/Other,Total Votes,geometry
0,0101,Bristol County,Barrington 0101,1027,522,60,23,2,1634,"POLYGON ((-71.32270 41.77270, -71.32270 41.772..."

# add state indexer to each gdf

In [6]:
VA["State"] = "va"
TX["State"] = "tx"
RI["State"] = "ri"

In [7]:
# drop Precinct Name column in VA and RI
VA.drop(["Precinct Name"], axis=1, inplace=True)
RI.drop(["Precinct Name"], axis=1, inplace=True)

In [8]:
VA.head(1)

,CName,County,Precinct #,Hillary Clinton/Dem,Donald J. Trump/Rep,Gary Johnson/Lib,Jill Stein/Grn,Other/Other,Total Votes,geometry,State
0,accomack county-Accomac,Accomack County,0001,486,637,16,8,4,2328,"POLYGON ((-75.66233 37.77053, -75.66244 37.770...",va

In [9]:
RI.head(1)

,Precinct #,County,Hillary Clinton/Dem,Donald J. Trump/Rep,Gary Johnson/Lib,Jill Stein/Grn,Other/Other,Total Votes,geometry,State
0,0101,Bristol County,1027,522,60,23,2,1634,"POLYGON ((-71.32270 41.77270, -71.32270 41.772...",ri

In [10]:
TX.head(1)

,County,Precinct #,Hillary Clinton/Dem,Donald J. Trump/Rep,Gary Johnson/Lib,Jill Stein/Grn,Other/Other,Total Votes,geometry,State
0,Anderson County,1,262,742,18,5,3,1030,"POLYGON ((-95.60102 31.74519, -95.60095 31.745...",tx

In [11]:
txcopy = TX.copy()
vacopy = VA.copy()
ricopy = RI.copy()

In [12]:
def truncate_county(string):
    splited = string.split(" ")
    if splited[1] != "County":
        return ''.join(splited)
    return string.split(" ")[0]

In [13]:
all_states = [TX, VA, RI]

In [14]:
for stateDF in all_states:
    for index, row in stateDF.iterrows():
        stateDF.at[index, "County"] = truncate_county(row["County"])

In [15]:
# test.to_file("all_states_precincts.json", driver="GeoJSON")

# merge 3 df into 1

In [15]:
df = pd.concat([TX, RI, VA], ignore_index=True)

In [16]:
df["State"].unique()

array(['tx', 'ri', 'va'], dtype=object)

In [18]:
df.to_file("all_states_precincts.json", driver="GeoJSON")