In [1]:
import geopandas as gpd
import pandas as pd

In [2]:
gdf = gpd.read_file("all_states_precincts_neighbor.json")

In [112]:
ri = gdf[gdf["State"]=="ri"]
ri.reset_index(drop=True, inplace=True)
ri.head(2)

,County,Precinct #,Hillary Clinton/Dem,Donald J. Trump/Rep,Gary Johnson/Lib,Jill Stein/Grn,Other/Other,Total Votes,State,CName,Neighbors,geometry
0,Bristol,0101,1027,522,60,23,2,1634,ri,ri-bristol-0101,"ri-bristol-0101,ri-bristol-0102; ri-bristol-01...","POLYGON ((-71.32270 41.77270, -71.32270 41.772..."
1,Bristol,0102,1331,683,68,21,3,2106,ri,ri-bristol-0102,"ri-bristol-0102,ri-bristol-0101; ri-bristol-01...","MULTIPOLYGON (((-71.35581 41.74533, -71.35560 ..."

In [113]:
c = list(ri.columns)
c.remove("Neighbors")
c.remove("CName")
ri.drop(c, inplace=True, axis=1)
ri.head(2)

/usr/local/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

             CName                                          Neighbors
0  ri-bristol-0101  ri-bristol-0101,ri-bristol-0102; ri-bristol-01...
1  ri-bristol-0102  ri-bristol-0102,ri-bristol-0101; ri-bristol-01...

In [114]:
ricopy = ri.copy()

In [115]:
columnss = list(ri.columns)
new_df = pd.DataFrame([["A","b"]], columns=columnss)
new_df.head()

  CName Neighbors
0     A         b

In [116]:
ri = ricopy.copy()
for index, row in ri.iterrows():
    neighbors = row["Neighbors"].split(";")
    neighbors = [n.strip() for n in neighbors]
    for n in neighbors:
        new_row = row
        new_row["Neighbors"] = n
        new_df = new_df.append(new_row, ignore_index=True)

In [117]:
new_df.head()

             CName                           Neighbors
0                A                                   b
1  ri-bristol-0101     ri-bristol-0101,ri-bristol-0102
2  ri-bristol-0101     ri-bristol-0101,ri-bristol-0104
3  ri-bristol-0101  ri-bristol-0101,ri-providence-1013
4  ri-bristol-0101  ri-bristol-0101,ri-providence-1016

In [118]:
new_df.drop(index=0, inplace=True)

In [119]:
new_df.sort_values(["CName"], inplace=True, ignore_index=True)

In [120]:
new_df.head()

             CName                           Neighbors
0  ri-bristol-0101     ri-bristol-0101,ri-bristol-0102
1  ri-bristol-0101     ri-bristol-0101,ri-bristol-0104
2  ri-bristol-0101  ri-bristol-0101,ri-providence-1013
3  ri-bristol-0101  ri-bristol-0101,ri-providence-1016
4  ri-bristol-0101  ri-bristol-0101,ri-providence-1017

In [121]:
print(len(new_df))

2352

In [125]:
new_df.to_csv("RI_Neighbors_Parsed.csv")