In [1]:
import pandas as pd

In [2]:
tx, va = pd.read_csv("TX_Enclosed_Error.csv"), pd.read_csv("VA_Enclosed_Error.csv")

In [3]:
tx.head()

  State       CName_out          CName_in      x_pos      y_pos
0    tx  tx-angelina-17  tx-angelina-017b -94.418138  31.158304
1    tx   tx-bexar-1034    tx-bexar-1125c -98.763426  29.447191
2    tx   tx-bexar-1108    tx-bexar-1073b -98.731211  29.443516
3    tx   tx-bexar-1121    tx-bexar-1144b -98.745648  29.475496
4    tx   tx-bexar-1121    tx-bexar-1144c -98.747597  29.479813

In [4]:
def parse(df, state):
    newdf = pd.DataFrame(columns=["State", "Info"])
    for index, row in df.iterrows():
        x, y = str(row["x_pos"]), str(row["y_pos"])
        cin, cout = row["CName_in"], row["CName_out"]
        info = x + ";" + y + ";" + cout + ";" + cin
        newdf = newdf.append({"State":state, "Info":info}, ignore_index=True)
    return newdf

In [5]:
tx = parse(tx, "tx")
va = parse(va, "va")

In [6]:
tx["Type"] = "ENCLOSED"
va["Type"] = "ENCLOSED"

In [7]:
tx.head()

  State                                               Info      Type
0    tx  -94.41813819671164;31.158304491480827;tx-angel...  ENCLOSED
1    tx  -98.76342567015949;29.447190801814646;tx-bexar...  ENCLOSED
2    tx  -98.73121136426342;29.44351587039623;tx-bexar-...  ENCLOSED
3    tx  -98.74564769290251;29.475495632308675;tx-bexar...  ENCLOSED
4    tx  -98.74759650963257;29.479812775942825;tx-bexar...  ENCLOSED

In [8]:
va.head()

  State                                               Info      Type
0    va  -77.31098144849081;38.84503079812335;va-fairfa...  ENCLOSED
1    va  -77.47922257942889;38.75299582860442;va-manass...  ENCLOSED
2    va  -78.94116018847949;38.41727183455483;va-rockin...  ENCLOSED

In [9]:
tx.to_csv("TX_Enclosed_Error_Parsed.csv", index=False)
va.to_csv("VA_Enclosed_Error_Parsed.csv", index=False)