In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("multipolygonError.csv")
df.head()

  State      y_pos            CName      x_pos
0    ri  41.745035  ri-bristol-0102 -71.335621
1    ri  41.759840  ri-bristol-0104 -71.305247
2    ri  41.720414  ri-bristol-0105 -71.300874
3    ri  41.680992  ri-bristol-0206 -71.254415
4    ri  41.729413  ri-bristol-3401 -71.274858

In [3]:
newdf = pd.DataFrame(columns=["State", "Info", "Type"])
for index, row in df.iterrows():
    x, y = str(row["x_pos"]), str(row["y_pos"])
    info = x + ";" + y + ";" + row["CName"]
    newdf = newdf.append({"State":row["State"], "Info":info ,"Type":"MULTIPOLY"}, ignore_index=True)

In [4]:
newdf.to_csv("multipolygonError.csv", index=False)