In [1]:
import pandas as pd

In [2]:
!ls

RI_Empty.json             anomalous_data.csv        ghost
TX_Empty.json             anomalous_data_parsed.csv multipolygonError.csv
VA_Empty.json             enclosed precinct         parse_anomalous.ipynb
VA_Overlap.json           gap
all_ghost_gap_parser      gap_ghost_parser.ipynb

In [3]:
df = pd.read_csv("anomalous_data.csv")

In [4]:
df.head()

,State,CName,MissingVote,MissingDemo,VoteDemoConflict,x_pos,y_pos
0,ri,ri-bristol-0201,NaN,NaN,p16;c16;c18,-71.266333,41.708733
1,ri,ri-bristol-0207,NaN,NaN,p16;c16;c18,-71.256753,41.661750
2,ri,ri-providence-0401,NaN,NaN,p16;c16;c18,-71.385925,41.887850
3,ri,ri-providence-0402,NaN,NaN,p16;c18,-71.389906,41.892830
4,ri,ri-providence-0403,NaN,NaN,c18,-71.392898,41.885401

In [5]:
newdf = pd.DataFrame(columns=["State", "Info", "Type"])
newdf

Empty DataFrame
Columns: [State, Info, Type]
Index: []

In [6]:
for index, row in df.iterrows():
    MV = row["MissingVote"]
    MD = row["MissingDemo"]
    VDC = row["VoteDemoConflict"]
    CName = row["CName"]
    state = row["State"]
    x, y = str(row["x_pos"]), str(row["y_pos"])
    
    if not pd.isna(MV):
        newdf = newdf.append({"State":state, "Info":x+";"+y+";"+CName+";"+MV, "Type":"NOVOTE"}, ignore_index=True)
    if not pd.isna(MD):
        newdf = newdf.append({"State":state, "Info":x+";"+y+";"+CName, "Type":"NODEMO"}, ignore_index=True)
    if not pd.isna(VDC):
        newdf = newdf.append({"State":state, "Info":x+";"+y+";"+CName+";"+VDC, "Type":"VOTEDEMO"}, ignore_index=True)

In [7]:
newdf.head()

  State                                               Info      Type
0    ri  -71.26633301488158;41.70873349469004;ri-bristo...  VOTEDEMO
1    ri  -71.25675317256555;41.6617502873484;ri-bristol...  VOTEDEMO
2    ri  -71.38592541377237;41.887849998787075;ri-provi...  VOTEDEMO
3    ri  -71.38990623078901;41.89282996870469;ri-provid...  VOTEDEMO
4    ri  -71.39289795853317;41.885400534893854;ri-provi...  VOTEDEMO

In [8]:
newdf.to_csv("anomalous_data_parsed.csv", index=False)